[Unit]
Description=starts rescrobbled daemon
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/rescrobbled

[Install]
WantedBy=default.target
