# UNUSED CURRENTLY
# SEEMS TO WORK WITH JUST settings.ini
# https://github.com/lassekongo83/adw-gtk3
# https://github.com/swaywm/sway/wiki/GTK-3-settings-on-Wayland#setting-values-in-gsettings

set $gnome-schema org.gnome.desktop.interface

exec_always {
    # Change the theme to adw-gtk3-dark
    gsettings set $gnome-schema gtk-theme 'adw-gtk3-dark'
    gsettings set $gnome-schema color-scheme 'prefer-dark'
    #gsettings set $gnome-schema icon-theme 'Your icon theme'
    #gsettings set $gnome-schema cursor-theme 'Your cursor Theme'
    #gsettings set $gnome-schema font-name 'Your font name'
}
