# https://github.com/alebastr/sway-systemd
# https://github.com/emersion/mako/blob/master/contrib/systemd/mako.service
# long lived init processes
# this should really be handled by systemd or some other useland process manager
# otherwise these are just gonna die randomly and i cant monitor them at all

# start mako notification daemon
exec mako
# if using elogind, see mako readme for more info
# dbus-daemon --session --address=unix:path=$XDG_RUNTIME_DIR/bus

#exec mpris-proxy
#exec rescrobbled
