# swaylock screen locker
# todo .config extension gives me nice syntax highting
# should  i do this for everything?
# its just an asetheic choice

# CLAMSHELL MODE
# todo i should really just move this to the main config
#
#https://github.com/swaywm/sway/wiki#clamshell-mode
#todo might need an extra shell script if this isn't working all the time
set $laptop_display eDP-1

bindswitch --reload --locked lid:on output $laptop_display disable
bindswitch --reload --locked lid:off output $laptop_display enable

# LOCK

#this does not work because swaylock does not run in time for the system sleep
#before-sleep 'loginctl lock-session' \
exec swayidle -w \
    before-sleep 'swaylock -f' \
    lock 'swaylock -f'
# i think this is good:
# unlcok 'swaylock unlock'
# find swaylock pid and send SIGUSR1
