# swaylock screen locker
# todo .config extension gives me nice syntax highting
# should  i do this for everything?
# its just an asetheic choice

#https://github.com/swaywm/sway/wiki#clamshell-mode
#todo might need an extra shell script if this isn't working all the time
set $laptop_display eDP-1

bindswitch --reload --locked lid:on output $laptop_display disable
bindswitch --reload --locked lid:off output $laptop_display enable
