# Your preferred application launcher
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
#set $menu dmenu_path | dmenu | xargs swaymsg exec --
#set $menu $term "sh -c 'compgen -c | sort -u | fzf | xargs -r swaymsg -t command exec'"
#set $menu $term "sh -c 'compgen -c | sort -u | fzf | xargs swaymsg -t exec --'"

# this just needs to be something unique
set $menu_title mymenutitle
set $menu_title_big mymenutitlebig
for_window [title="$menu_title*"] {
    floating enable
    opacity .9
    border none
}

for_window [title="$menu_title_big"] {
    resize set height 95ppt
    resize set width 96ppt
    border pixel 10
}



set $menu $term --title=$menu_title sh -c 'compgen -c | sort -u | fzf | xargs swaymsg exec --'

# todo might have some globbing issues
# tod allow fzf to pass arguments
# sets the new title to the name of the program, because most terminal commands don't set it themselves
set $menu_special $term --title=$menu_title sh -c 'compgen -c | sort -u | fzf | xargs -I {} swaymsg exec -- foot --title=\'{}\' {}'

set $menu_man $term --title=$menu_title_big sh -c '~/.config/sway/menu_man.sh'
