# Your preferred application launcher
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
#set $menu dmenu_path | dmenu | xargs swaymsg exec --
#set $menu $term "sh -c 'compgen -c | sort -u | fzf | xargs -r swaymsg -t command exec'"
#set $menu $term "sh -c 'compgen -c | sort -u | fzf | xargs swaymsg -t exec --'"

# this just needs to be something unique
set $menu_title mymenutitlecustom

set $menu $term --title=$menu_title sh -c 'compgen -c | sort -u | fzf | xargs swaymsg exec --'
# todo might have some globbing issues
# tod allow fzf to pass arguments
set $menu_special $term --title=$menu_title sh -c 'compgen -c | sort -u | fzf | xargs -I {} swaymsg exec -- foot --title=\'{}\' {}'

for_window [title="$menu_title"] {
	floating enable
	opacity .9
	border none
}
