# https://github.com/emersion/xdg-desktop-portal-wlr#running
# idk if this is necessary??
exec dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=sway

# did you know that sway is actually an init system? (it's not lol and this is probably buggy)
#exec pipewire
#exec pipewire-pulse
#exec wireplumber
#started by xdg-desktop-portal on demand
#xdg-desktop-portal-wlr
#
#todo sway is not an init system!
